@import 'app-config/styles/_mixins.scss';
@import 'app-config/styles/_variables.scss';

.page {
  background: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  // opacity: 0;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
  // overflow-y:scroll;
}

.successText {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 2.3rem;
  color: $color-font-primary;
  text-align: center;
}

.successTextSecondary {
  margin-top: 10px;
  font-size: 1.8rem;
  text-transform: lowercase;
  

  .textLink {
    text-decoration: none;
    color: $color-secondary;
    &:active {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}


@media (hover: hover) {
  .textLink:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (max-width: 1000px), screen and (orientation: portrait) { 
  .successTextSecondary {
    margin-top: 20px;
    .textLink {
      display: block;
    }
  }

  .page {
    padding: 0 15px;
  }
}

