@mixin font-alpha {
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: 500;
}


@mixin font-beta {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}