$border-radius: (
  default: 8px,
);

$colors: (
  error: #cf400e,
  success: #4bb544,
);

$alpha-colors: (
  alpha: #f5f5f5,
  bravo: #252c6a,
  charlie: #e7891a,
  charlie-darker: #cc7613,
  delta: #dfcdb5,
  zulu: #000,
);