$border-radius: (
  default: 8px,
);

$color-error: #cf400e;
$color-error: #c62828;
$color-success: #7cb342;

$color-primary-light: #ffffff;
$color-primary: #fff3e0;
$color-primary-dark: #ccc0ae;
$color-primary-darker: #ffffb0;

$color-secondary-light: #82e9de;
$color-secondary: #4db6ac;
$color-secondary-darker: #4f9a94;
$color-secondary-dark: #00867d;

$color-font-primary: #424242;
$color-font-secondary: #fffde7;


